@import "../../../../../css_config/style_global_variables.scss";
.header-bg {
  background: transparent;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-med-min-width; // 20px
  justify-content: space-between;
  align-items: center;
  padding-top: $padding-top-med-min-width; //20px
  padding-bottom: $padding-bottom-med-min-width; //20px;


  .logo {
    display: flex;
    align-items: center;
    img{
      width: 48px;
    }
    span {
      color: var(--cor-p0);
      font: 600 1.8rem/2 "Poppins", sans-serif;
      text-transform: uppercase;
      margin-left: $margin-left-min-smallest-width;
    }
  }
  span::before{
    display: inline-block;
    content: '';
    height: 20px;
    width: 2px;
    background: var(--cor-p5) no-repeat;
    margin-left: 8px;
    margin-right: 8px;
  }

}
//
